<% include ../partials/header %>


<div><%= showQuestion.sex %></div>
<div><%= showQuestion.ageRange %></div>
<div><%= showQuestion.photographer %></div>
<div><%= showQuestion.interested %></div>
<div><%= showQuestion.dateCreated %></div>
<div>
    <a href="/admin/<%=showQuestion.id%>/edit">edit</a>
</div>

<% include ../partials/footer %>



